.expo/*
.expo-shared
.vscode
.env
.phothoshop
.quokka
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Folders
web-build/
web-report/
RoadMap
assets/images/avatars
phothoshop
node_modules/**/*
node_modules
npm-debug.*

# macOS
.DS_Store
