node_modules/**/*
.expo/*
.expo-shared
.vscode
.env
.phothoshop
.quokka
RoadMap
assets/images/avatars
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
node_modules
